PORT=6443
CERTFILE=C:\\Users\\tecdesoft\\Documents\\certscreated\\server-cert.pem
KEYFILE=C:\\Users\\tecdesoft\\Documents\\certscreated\\server-key.pem
BASEURL=192.168.44.158 # solo usado en testing

# para swagger recuerda cambiar ./src/config/swagger.ts